{% extends 'layout.html'%}

{% block main %}
<div class="jumbotron">
    <h1>Hello, {{userInfo.username}}!</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or
        information.</p>
</div>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/admin/categroy">分类管理</a></li>
        <li><span>分类编辑</span></li>
    </ol>
</div>
<div class="container-fluid">
    <form method="post">
        <div class="form-group">
            <label for="name">分类名称:</label>
            <input type="text" class="form-control" value="{{categroy.name}}" id="name" name="name" placeholder="请输入分类名称">
        </div>
        <button type="submit" class="btn btn-primary">修改</button>
    </form>
</div>
{% endblock%}