{% extends 'layout.html'%}

{% block main %}
<div class="jumbotron">
    <h1>Hello, {{userInfo.username}}!</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or
        information.</p>
</div>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/admin/content">内容管理</a></li>
        <li><span>添加内容</span></li>
    </ol>
</div>
<div class="container-fluid">
    <form method="post">
        <div class="form-group">
            <label for="categroy">内容分类:</label>
            <select name="categroy" id="categroy" class="form-control">
                {% for categroy in categroies %}
                    {% if categroy._id.toString() == content.categroy._id.toString()%}
                        <option value="{{categroy.id}}" selected>{{categroy.name}}</option>
                    {% else %}
                        <option value="{{categroy.id}}">{{categroy.name}}</option>
                    {% endif%}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="title">内容标题：</label>
            <input type="text" class="form-control" value="{{content.title}}" name="title" id="title"
                   placeholder="内容标题">
        </div>
        <div class="form-group">
            <label for="description">内容简介：</label>
            <textarea class="form-control" name="description" id="description"
                      rows="5">{{content.description}}</textarea>
        </div>
        <label for="content">内容：</label>
        <textarea class="form-control" name="content" id="content" rows="10">{{content.content}}</textarea>
        <br/>
        <button type="submit" class="btn btn-primary">保存修改</button>
    </form>
</div>
{% endblock%}